*.swp
*.o
/src/amazon/dsstne/bin/
/src/amazon/dsstne/lib/
/src/amazon/dsstne/utils/encoder
/src/amazon/dsstne/utils/generateNetCDF
/src/amazon/dsstne/utils/predict
/src/amazon/dsstne/utils/train
/src/amazon/dsstne/utils/TestGPU

